.introduction h1{
    font-size: 30px;
    font-weight: 550;
}
.introduction h2{
    font-size: 25px;
    font-weight: 500;
}
.introduction li span{
    font-size: 18px;
    font-weight: 450;
    color: rgb(105, 103, 103);
}
.introduction header{
    margin-top: 15px;
    margin-bottom: 8px;
}
.introduction ul li{
    margin-left: 20px;
    margin-bottom: 7px;
}
.career{
    padding-bottom: 45px;
    
}
.career ul li{
    margin-left: 30px;

}


/*css for vulnerabilities*/
.introduction ol li{
    margin-left: 17px;
    margin-bottom: 13px;
}