.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom:15px;
    background:#ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    position:fixed;
    
    

}
.navbar-logout:hover{
    color: #3494f5;
    cursor: pointer;
}
.navbar-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 16px;

}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 3rem;
}
.navbar-left img{
    width: 8rem ;
    cursor: pointer;
    padding-top: 10px;
}
.navbar-right .search{
    width: 27px;
    cursor: pointer;
}
.navbar-right button img{
    padding-top: 6px;
    width: 22px;
    cursor: pointer;
}
.navbar-right button{
    background: transparent;
    border: none;
}

.navbar-left button{
    border: 0;
    outline: 0;
    width: 55px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(71, 70, 70);
    font-size: 14px;
    font-weight: 300;
}

.navbar-left .button-clicked{
    background:#3494f5 ;
    color: white;
}

.menu-btn img{
    display: none;
}

.navbar-left .menu-btn{
    display: none;
}

@media (max-width: 500px) {
    .navbar {
      padding-top: 5px; /* Adjust top padding for smaller screens */
      padding-bottom: 10px; /* Adjust bottom padding for smaller screens */
    }
    .navbar-left .menu-btn{
        display: block;
    }
    .navbar-left .menu-btn img{
        display:block ;
        width: 1.25rem;
        margin-top: -8px;
        
     }
    .navbar-left .logo {
      width: 6rem; /* Adjust logo size for smaller screens */
      margin-left: -32px;
    }
    .navbar-left .button-clicked{
        background-color: transparent;
        border: none;
    }
    .button-clicked img{
        width: 20px;
    }
    .navbar-right {
      margin-right: 1rem; /* Adjust right margin for smaller screens */
    }
  }
  